<section class="job-list" id="jobs">
  <div class={{job-card}}>
    <div class={{job-name}}>
      <div class={{job-detail}}>
        <h4>{{company_name}}</h4>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
      </div>
    </div>
    <div class="job-posted">
      Posted 2 mins ago
    </div>
  </div>

  <div class={{job-card}}>
    <div class={{job-name}}>
      <div class={{job-detail}}>
        <h4>{{company_name}}</h4>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
      </div>
    </div>
    <div class="job-posted">
      Posted 2 mins ago
    </div>
  </div>

  <div class={{job-card}}>
    <div class={{job-name}}>
      <div class={{job-detail}}>
        <h4>{{company_name}}</h4>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
      </div>
    </div>
    <div class="job-posted">
      Posted 2 mins ago
    </div>
  </div>

  <div class={{job-card}}>
    <div class={{job-name}}>
      <div class={{job-detail}}>
        <h4>{{company_name}}</h4>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
      </div>
    </div>
    <div class="job-posted">
      Posted 2 mins ago
    </div>
  </div>

  <div class={{job-card}}>
    <div class={{job-name}}>
      <div class={{job-detail}}>
        <h4>{{company_name}}</h4>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
      </div>
    </div>
    <div class="job-posted">
      Posted 2 mins ago
    </div>
  </div>

  <button class="job-more">More List</button>
</section>